.margin{width: 1256px;margin: 0 auto;}
#header{height: 125px;width: 1256px;border-bottom: 1px solid #e1e1e1;}
#header img{float: left;margin-top: 30px;}
#header .right{float: right;display: flex;font: 18px/60px "";color:#666;}
.right a{color:#0066cc;padding-left:14px;padding-right:25px;}
.center{background:#e93854;}
.c{height: 473px;background: url(https://www.51puer.com/images/gallery/shop/201803/source_img/1522049504519569160.png) no-repeat;}

form {
    right: 100px;
    top: 250px;
    position: absolute;
    width: 300px;
    margin: 0 auto;
    background: rgba(255,255,255,.5);
    padding: 30px 50px;
}
#username{height: 25px;background: #ccc;}
#pwd{height: 25px;background: #ccc;}
#sub{width: 75px;height: 35px;border-radius: 10px;background: #448ede;color: #fff;}
#res{width: 75px;height: 35px;border-radius: 10px;background: #0a3665;color: #fff;margin-left: 20px;}
fieldset{margin-bottom: 10px;}


.footer{background:#fafafa;}
.footer .te{height: 30px;}








