.margin{width: 1228px;margin:0 auto;}
#top{height: 30px;background: #f5f5f5 ;font:11px/29px "";color:#666;border-top:1px solid #b6b4b6;border-bottom: 1px solid #e5e5e5; overflow: hidden;}
#top .left{float:left;background:url(../images/dizhi.png) no-repeat left;}
#top .left p{padding-left:18px;}
#top .right{float: right;}
#top .right a{color: #aaa;padding: 0 6PX;}
#top .right a.te{color:#7d0000;}
#top .right a:hover{color:#7d0000;}
#top .right span{padding: 0 4px;}
.title{height: 100px;}
.title .logo{float:left;width:239px;}
.title .logo img{width:210px;height:80px}
.title .buzhou{float: right;}



.footer{background:#fafafa;}
.footer .te{height: 30px;}